<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.lgh.wine">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:name=".WineApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name_1"
        android:supportsRtl="true"
        android:theme="@style/AppTheme1"
        tools:replace="label">
        <activity
            android:name=".MainActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity
            android:name=".ui.account.LoginActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.account.RegisterActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.account.LoginBySmsCodeActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.account.SetPasswordActivity"
            android:screenOrientation="portrait" />

        <meta-data
            android:name="DATABASE"
            android:value="com.lgh.wine.db" />
        <meta-data
            android:name="VERSION"
            android:value="1" />
        <meta-data
            android:name="QUERY_LOG"
            android:value="true" />
        <meta-data
            android:name="DOMAIN_PACKAGE_NAME"
            android:value="com.lgh.wine" />

        <activity
            android:name=".ui.web.WebActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.product.ProductListActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.product.ProductDetailActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.coupon.CouponListActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.product.ProductParamsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.shopping.ShoppingCartActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.discover.ArticleDetailActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.theartofdev.edmodo.cropper.CropImageActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Base.Theme.AppCompat" />

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="com.lgh.wine.provider.MyFileProvider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/filepaths" />
        </provider>

        <activity
            android:name=".ui.personal.SettingActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.personal.AboutActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.personal.FeedbackActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.product.SpoorListActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.collect.CollectListActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.coupon.CouponMainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.personal.UserInfoActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.personal.AddressManageActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.personal.AddAddressActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.personal.UpdatePwdActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.product.AddOrderActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.personal.AddressSelectActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.product.InvoiceSelectActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".wxapi.WXPayEntryActivity"
            android:exported="true"
            android:launchMode="singleTop"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <activity
            android:name=".ui.personal.ProductOrderMainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.personal.MyLikesActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.personal.MyCommentListActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.personal.MyCommentDetailActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.personal.AddOrderCommentActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.personal.AddOrderCommentSuccessActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.personal.TrackerActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.product.OrderDetailActivity"
            android:screenOrientation="portrait" />
    </application>

</manifest>